
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG CHỦ QUẢN TRỊ</h2>


@*Cấu hình*@
<div class="title_ne" style="padding-bottom: 25px">
    <img src="~/assetsAdmin/img/logo/ico_SanPham.png" />
    <span>Quản lý công việc</span>
</div>

<div class="Danhsach_menu" style="padding-left: 40px">
    <a href="/Nhacungcap" style="float: left">
        <div class="img_Menu" style="padding-left: 15px">
            <img src="~/assetsAdmin/img/logo/details48px.png" />
        </div>
        <div class="Ten_menu">
            Quản lý NCC
        </div>
    </a>

    <a href="/Admin/Sanpham" style="float: left">
        <div class="img_Menu" style="padding-left: 70px">
            <img src="~/assetsAdmin/img/logo/collect48px.png" />
        </div>
        <div class="Ten_menu" style="padding-left: 40px">
            Quản lý sản phẩm
        </div>
    </a>

    <a href="/AdminDanhMuc" style="float: left">
        <div class="img_Menu" style="padding-left: 70px">
            <img src="~/assetsAdmin/img/logo/pets_48px.png" />
        </div>
        <div class="Ten_menu" style="padding-left: 40px">
            Quản lý danh mục
        </div>
    </a>

    <a href="/AdminLoai" style="float: left">
        <div class="img_Menu" style="padding-left: 70px">
            <img src="~/assetsAdmin/img/logo/product_48px.png" />
        </div>
        <div class="Ten_menu" style="padding-left: 40px">
            Quản lý loại SP
        </div>
    </a>

    <div class="Danhsach_menu" style="padding-bottom: 100px"></div>
</div>
